@use '../../styles/config/mixins' as *;

.activity {
    @include flex(column);

    border-radius: var(--border-radius-outer);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    background-color: var(--color-neutral-4);

    .content,
    .footer {
        padding: var(--spacing-md) var(--spacing-lg);
    }

    .content {
        display: grid;
        grid-gap: var(--spacing-sm);
        grid-template-columns: max-content;
        grid-template-areas:
            'iconId title time'
            'iconId description description';

        .icon {
            grid-area: iconId;
            margin-right: var(--spacing-md);
        }

        .title {
            grid-area: title;
            font-weight: var(--font-weight-medium);
            margin: 0;
        }

        .time {
            grid-area: time;
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-regular);
            justify-self: end;
        }

        .description {
            grid-area: description;
            font-weight: var(--font-weight-light);
            font-size: var(--font-size-sm);
            color: var(--color-neutral-3);
            text-overflow: ellipsis;
            word-wrap: break-word;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }

    .footer {
        @include flex(row, space-between, center);

        gap: var(--spacing-md);
        border-top: 1px solid var(--color-neutral-5);

        .rating {
            @include flex(row, start, center);

            margin: var(--spacing-xs) 0;
            gap: var(--spacing-xs);
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-regular);

            .svg {
                max-width: none;
            }
        }

        .categories {
            @include flex(row-reverse, flex-start);

            gap: var(--spacing-sm);
            overflow: auto;
            white-space: nowrap;
            width: 100%;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .category {
            border-radius: var(--border-radius-outer);
            padding: var(--spacing-xs) var(--spacing-sm);
            font-weight: var(--font-weight-medium);
            color: var(--color-neutral-4);
            background-color: var(--color);
            font-size: var(--font-size-xs);
            text-transform: capitalize;
        }

        @for $i from 1 through 16 {
            .categoryColor#{$i} {
                background-color: var(--color-category-#{$i});
            }
        }
    }
}
