/* fonts */

@use 'functions';
@use 'variables';

body {
	font-family: var(--font-family-default);
	font-size: var(--font-size-md);
	color: var(--color-neutral-1);
}

h1 {
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-bold);
	margin: var(--spacing-lg) 0;
}

h2 {
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-medium);
	margin: var(--spacing-md) 0;
}

h3,
h4,
h5,
h6 {
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-medium);
	margin: var(--spacing-sm) 0;
}

a,
a:visited {
	$font-weight: variables.$font-weight-regular;
	font-weight: $font-weight;
	text-decoration: underline #{functions.underline-width($font-weight)};
	color: var(--color-neutral-2);
	text-decoration-color: inherit;
	cursor: pointer;

	&.emphasized {
		$font-weight: variables.$font-weight-bold;
		font-weight: $font-weight;
		text-decoration: underline #{functions.underline-width($font-weight)};
	}

	&:hover {
		color: var(--color-neutral-1);
	}
}

p {
	font-size: var(--font-size-md);
	color: var(--color-neutral-2);
}
