/* scss variables */

/* Rating Gradients */

$gradient-direction: 45deg;
$gradient-start: 0%;
$gradient-end: 100%;

$gradient-rating-1: linear-gradient(
	$gradient-direction,
	var(--color-rating-1) $gradient-start,
	var(--color-rating-2) $gradient-end
);
$gradient-rating-2: linear-gradient(
	$gradient-direction,
	var(--color-rating-2) $gradient-start,
	var(--color-rating-3) $gradient-end
);
$gradient-rating-3: linear-gradient(
	$gradient-direction,
	var(--color-rating-3) $gradient-start,
	var(--color-rating-4) $gradient-end
);
$gradient-rating-4: linear-gradient(
	$gradient-direction,
	var(--color-rating-4) $gradient-start,
	var(--color-rating-5) $gradient-end
);
$gradient-rating-5: linear-gradient(
	$gradient-direction,
	var(--color-rating-5) $gradient-start,
	var(--color-rating-6) $gradient-end
);
$gradient-rating-6: linear-gradient(
	$gradient-direction,
	var(--color-rating-6) $gradient-start,
	var(--color-rating-7) $gradient-end
);
$gradient-rating-7: linear-gradient(
	$gradient-direction,
	var(--color-rating-7) $gradient-start,
	var(--color-rating-8) $gradient-end
);
