@use '../../../styles/config/mixins' as *;

.checkboxLabel {
    @include flex(row, flex-start, center);

    gap: var(--spacing-md);
    color: var(--color-neutral-2);
    font-weight: var(--font-weight-light);

    input[type='checkbox'] {
        @include focus;

        -webkit-appearance: none;
        appearance: none;
        margin: 0;

        font: inherit;
        color: var(--color-neutral-6);
        width: var(--size-xl);
        height: var(--size-xl);
        border: 1px solid currentColor;

        background-color: var(--color-neutral-5);
        border-radius: calc(var(--border-radius-inner) / 1.25);
        position: relative;

        &:checked::before {
            position: absolute;
            content: '';
            width: inherit;
            height: inherit;
            border-radius: inherit;
            background-color: var(--color-neutral-3);
            clip-path: polygon(
                39% 63%,
                77% 23%,
                85% 29%,
                40% 77%,
                12% 52%,
                19% 44%
            );
        }
    }
}
