@use '../../styles/config/mixins' as *;

.modal {
  gap: 0;
}

.modalTitle {
  margin-right: auto !important;
  margin-left: var(--spacing-lg) !important;
}

.activitiesWrapper {
  height: 100%;
  background: var(--color-neutral-5);
  padding: var(--spacing-md);
  overflow: hidden;
}

.activitiesContainer {
  @include flex(column);

  gap: var(--spacing-md);
  height: 100%;
  overflow-y: scroll;
  border-radius: var(--border-radius-outer);
}
