@use '../../../styles/config/mixins' as *;

.label {
    font-weight: var(--font-weight-medium);
    color: var(--color-neutral-2);
    font-size: var(--font-size-md);
}

.input {
    @include flex;
    @include focus;

    gap: var(--spacing-sm);
    background-color: var(--color-neutral-5);
    padding: var(--spacing-sm) var(--spacing-lg);
    margin-top: var(--spacing-md);
    border-radius: var(--border-radius-inner);
    height: auto;

    .inputIcon {
        @include flex(row, center);

        box-sizing: content-box;
        color: var(--color-neutral-3);

        svg {
            max-width: fit-content;
        }
    }

    input,
    textarea {
        border: none;
        background-color: transparent;
        -webkit-tap-highlight-color: transparent;
        font-weight: var(--font-weight-regular);
        color: var(--color-neutral-2);
        width: 100%;

        &:focus {
            outline: none;
        }

        &::placeholder {
            @include text-truncate;

            padding-right: var(--spacing-sm);
            overflow: hidden;
        }
    }

    textarea {
        padding-top: var(--spacing-xs);
        resize: none;
    }
}
