/* css-variables colors */

@use '../config/variables' as *;

:root {
	/* Accent Colors */
	--color-primary: #{$color-primary};
	--color-secondary: #{$color-secondary};

	/* Additional Colors */
	--color-heart: #{$color-heart};

	/* Neutral Colors */
	--color-neutral-1: #{$color-neutral-1};
	--color-neutral-2: #{$color-neutral-2};
	--color-neutral-3: #{$color-neutral-3};
	--color-neutral-4: #{$color-neutral-4};
	--color-neutral-5: #{$color-neutral-5};
	--color-neutral-6: #{$color-neutral-6};

	/* Rating Colors */
	--color-rating-1: #{$color-rating-1};
	--color-rating-2: #{$color-rating-2};
	--color-rating-3: #{$color-rating-3};
	--color-rating-4: #{$color-rating-4};
	--color-rating-5: #{$color-rating-5};
	--color-rating-6: #{$color-rating-6};
	--color-rating-7: #{$color-rating-7};

	/* Rating Gradients */
	--gradient-rating-1: #{$gradient-rating-1};
	--gradient-rating-2: #{$gradient-rating-2};
	--gradient-rating-3: #{$gradient-rating-3};
	--gradient-rating-4: #{$gradient-rating-4};
	--gradient-rating-5: #{$gradient-rating-5};
	--gradient-rating-6: #{$gradient-rating-6};
	--gradient-rating-7: #{$gradient-rating-7};

	/* Category Colors */
	--color-category-1: #{$color-category-1};
	--color-category-2: #{$color-category-2};
	--color-category-3: #{$color-category-3};
	--color-category-4: #{$color-category-4};
	--color-category-5: #{$color-category-5};
	--color-category-6: #{$color-category-6};
	--color-category-7: #{$color-category-7};
	--color-category-8: #{$color-category-8};
	--color-category-9: #{$color-category-9};
	--color-category-10: #{$color-category-10};
	--color-category-11: #{$color-category-11};
	--color-category-12: #{$color-category-12};
	--color-category-13: #{$color-category-13};
	--color-category-14: #{$color-category-14};
	--color-category-15: #{$color-category-15};
	--color-category-16: #{$color-category-16};
}
