/* css-variables globals */

@mixin dimensions {
  /* Navbar */
  --navbar-height: 5rem;

  /* Category Select */
  --category-select-item-height: 3rem;

  /* Carousel */
  --carousel-height: 6.375rem;

  /* Scrollbar */
  --scrollbar-width: 0.5rem;
  --scrollbar-border-radius: 0.5rem;
}
