/* css-variables globals */

@mixin general {
    /* Navbar */
    --navbar-height: 5rem;

    /* Carousel */
    --carousel-height: 6.375rem;

    /* Scrollbar */
    --scrollbar-width: 0.5rem;
    --scrollbar-border-radius: 0.5rem;

    --scrollbar-thumb-color: #dfdfdf;
    --scrollbar-thumb-color-hover: #c7c7c7;
    --scrollbar-track-color: var(--color-neutral-4);
}
