@use '../../../../styles/config/mixins' as *;

.categoryBadgeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between the badge and delete icon */
  gap: var(--spacing-xs); /* Optional gap between badge and icon */
  width: 98.5%; /* Ensure container spans full width */
}

.categoryBadge {
  @include flex;
  gap: var(--spacing-xs);
  border-radius: var(--border-radius-outer);
  padding: var(--spacing-xs) var(--spacing-sm);
  color: var(--color-neutral-4);
  background-color: var(--color);
  width: fit-content;

  @for $i from 1 through 16 {
    &.categoryColor#{$i} {
      background-color: var(--color-category-#{$i});
    }
  }

  .badgeText {
    white-space: nowrap;
    text-transform: capitalize;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
  }

  &:has(svg) {
    padding-left: var(--spacing-xs);
  }
}

.deleteIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: var(--spacing-xs); /* Adjust margin to move closer to the badge */
}

.deleteIcon {
  cursor: pointer;
  transform: translateX(0); /* Remove the left shift */
  color: var(--color-neutral-3); /* Match color to PlusCircle if needed */
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateX(-3px); /* Optional subtle hover effect */
    color: var(--color-neutral-5); /* Optional hover color */
  }
}
