.categoryBadge {
    border-radius: var(--border-radius-outer);
    padding: var(--spacing-xs) var(--spacing-sm);
    font-weight: var(--font-weight-medium);
    color: var(--color-neutral-4);
    background-color: var(--color);
    font-size: var(--font-size-xs);
    text-transform: capitalize;
    width: fit-content;

    @for $i from 1 through 16 {
        &.categoryColor#{$i} {
            background-color: var(--color-category-#{$i});
        }
    }
}
