@use '../../../styles/config/mixins' as *;

.row {
    @include flex(row, stretch, center);

    gap: var(--spacing-md);
    background-color: var(--color-neutral-4);
    border-radius: var(--border-radius-outer);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    margin: var(--spacing-sm);
    padding: 0 var(--spacing-lg);

    svg {
        vertical-align: middle;
    }

    .label {
        padding: var(--spacing-lg) 0;

        flex-grow: 1;
    }

    .content {
        @include flex(row, center, center);

        gap: var(--spacing-sm);
        font-size: var(--font-size-sm);
    }

    .alert {
        position: absolute;
        bottom: calc(var(--navbar-height) + var(--spacing-md));
        right: var(--spacing-md);
        left: var(--spacing-md);
    }

    a {
        text-decoration: none;
    }
}
