@use '../../styles/config/mixins' as *;
@use '../../styles/config/variables' as *;

.container {
    @include flex(column);

    gap: var(--spacing-md);

    .instructions {
        @include flex(row, space-between, center);
        font-size: var(--font-size-sm);
        gap: var(--spacing-sm);

        .settings,
        .settingsItem {
            background-color: var(--color-neutral-5);
            border-bottom: 2px solid var(--color-neutral-7);
            border-radius: var(--border-radius-inner);
        }

        .settings {
            padding: var(--spacing-sm);
            display: inline;
            box-sizing: content-box;
        }

        .settingsItem {
            @include flex(row, stretch, center);

            gap: var(--spacing-sm);
            flex-grow: 1;
            padding: var(--spacing-sm) var(--spacing-md);
        }
    }
}
