@use '../../../styles/config/mixins' as *;

.macro {
  @include flex(row);

  gap: var(--spacing-md);

  .card {
    @include flex(column, center, center);
    width: 33.33%;

    .title {
      font-weight: var(--font-weight-small);
      font-size: var(--font-size-md);
      text-transform: capitalize;
      margin: 0;
    }

    .value {
      font-size: var(--font-size-xl);
      font-weight: var(--font-weight-bold);
      margin: 0;
    }
  }
}
