@use '../../../styles/config/variables' as *;
@use '../../../styles/config/mixins' as *;

.navBar {
  @include flex(column);
  $navbar-height: var(--navbar-height);
  $navbar-spacing: calc($navbar-height * 0.1);

  padding: $navbar-spacing;
  padding-top: 0;
  background-color: var(--color-neutral-4);

  .navButtons {
    @include flex(row, space-between, center);
  }

  .createButtonsWrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: var(--transition-md);
    margin-bottom: $navbar-spacing;

    &.open {
      grid-template-rows: 1fr;
    }
  }

  .createButtonsContainer {
    min-height: 0;
    padding: var(--spacing-xs);

    :first-child {
      margin: $navbar-spacing 0;
    }
  }

  .addButton {
    transition:
      transform var(--transition-md),
      background-position var(--transition-md);
    box-sizing: content-box;
    background: $gradient-accent;
    background-size: 150% 100%;
    height: var(--spacing-xl);
    width: var(--spacing-xl);
    padding: var(--spacing-sm);
    margin: 0 var(--spacing-md);
    border-radius: var(--border-radius-inner);
    color: var(--color-neutral-4);

    &.active {
      background-position: 100% 100%;
      transform: scale(1.2);
    }
  }

  a {
    @include flex(column, center, center);

    height: calc($navbar-height * 0.8);
    width: calc($navbar-height * 0.8);
    margin: 0 auto;
    border-radius: var(--border-radius-inner);
    font-size: var(--font-size-xs);
    color: var(--color-neutral-3);
    text-decoration: none;
    transition:
      background-color var(--transition-medium),
      color var(--transition-medium);

    &:hover {
      color: var(--color-neutral-2);
    }

    &.active {
      background-color: var(--color-neutral-6);
      color: var(--color-neutral-2);

      &:hover {
        color: var(--color-neutral-1);
      }
    }
  }
}
