@use '../../styles/config/mixins' as *;

.activityEditWrapper {
    @include flex(column);

    gap: var(--spacing-md);
    z-index: 100;
    position: fixed;
    inset: 0;
    background-color: var(--color-neutral-4);
    overflow-y: scroll;
}

.form {
    @include flex(column);

    min-height: 100%;
    position: relative;

    .header,
    .inputs,
    .buttons {
        padding: var(--spacing-lg);
    }

    .header {
        @include flex(row, space-between);

        padding-bottom: var(--spacing-lg);
        border-bottom: 1px solid var(--color-neutral-6);

        .title {
            font-size: calc(var(--font-size-xl));
            margin: 0;
            line-height: 1;
        }
    }

    .inputs {
        @include flex(column);

        gap: var(--spacing-md);
        flex-grow: 1;
        overflow-y: scroll;

        .titleAndIcon {
            position: relative;

            .iconPicker {
                position: absolute;
                right: 0;
            }
        }

        .dateTime {
            @include flex(row, space-between);

            gap: var(--spacing-md);

            & > * {
                width: calc(50% - var(--spacing-md) / 2);
            }
        }
    }

    .buttons {
        @include flex(column);

        border-top: 1px solid var(--color-neutral-6);
        gap: var(--spacing-md);
    }
}

@include ios-fix('.activityEditWrapper');
