@use '../../styles/config/mixins' as *;

.card {
  overflow-y: scroll;
}

.heading {
  margin: 0;
  margin-bottom: var(--spacing-sm);
}

.chart {
  @include flex(column);

  gap: var(--spacing-xs);

  .barWrapper {
    @include flex(column, center);

    gap: var(--spacing-xs);

    .barLabel {
      @include flex(row, space-between);
      font-size: var(--font-size-sm);
      margin: 0;
    }

    .barShadow {
      height: var(--size-xl);
      background-color: var(--color-neutral-5);
      border-radius: var(--border-radius-inner);
    }

    .bar {
      height: var(--size-xl);
      background-color: var(--color-primary);
      border-radius: var(--border-radius-inner);
      transition: height var(--transition-md);
    }
  }
}
