@use '../../styles/config/mixins' as *;

.insights {
  @include flex(column);

  flex-grow: 1;
  overflow: hidden;

  .header {
    padding: var(--spacing-md) var(--spacing-lg);
    margin: 0;
    font-size: calc(var(--font-size-xl));
  }

  .content {
    @include flex(column);

    border-radius: var(--border-radius-outer);
    background-color: var(--color-neutral-5);
    padding: var(--spacing-lg);
    gap: var(--spacing-md);
    flex-grow: 1;

    overflow-y: hidden;

    .heading {
      margin: 0;
      margin-bottom: var(--spacing-sm);
    }
  }
}
