@use '../../../../styles/config/variables' as *;
@use '../../../../styles/config/mixins' as *;

.dayItem {
  @include flex(column, start, center);
  width: 100%;

  .dayActivityCount {
    margin-bottom: var(--spacing-sm);
    position: relative;

    &.active {
      margin-bottom: var(--spacing-xs);
    }
  }

  .dayCard {
    @include flex(column, center, center);
    @include invalid;

    width: 100%;

    background-color: var(--color-neutral-5);
    border-radius: var(--border-radius-inner);

    padding: var(--spacing-sm) var(--spacing-sm);
    margin-bottom: var(--spacing-xs);

    &.active {
      background: $gradient-accent;
      margin-bottom: 0;
      padding: var(--spacing-md) var(--spacing-sm);

      .dayLetter,
      .dayNumber {
        color: var(--color-neutral-4);
      }
    }

    &.noCount {
      margin-top: calc(var(--spacing-lg) + var(--spacing-md));
    }

    &.activeNoCount {
      margin-top: calc(var(--spacing-lg) + var(--spacing-sm));
    }

    .dayLetter,
    .dayNumber {
      color: var(--color-neutral-2);
    }

    .dayLetter {
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-regular);
    }

    .dayNumber {
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-medium);
    }

    &[class*='ratingColor'] {
      overflow: hidden;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        width: 100%;
        height: var(--spacing-xs);
        background-color: var(--rating-color);
        border-bottom-left-radius: var(--border-radius-inner);
        border-bottom-right-radius: var(--border-radius-inner);
      }
    }

    @for $i from 1 through 7 {
      &.ratingColor#{$i}::after {
        background: map-get($gradient-ratings, $i);
      }
    }
  }
}
