@use '../../styles/config/mixins' as *;

.badge {
    @include flex(row, center, center);

    position: absolute;
    width: var(--size-lg);
    height: var(--size-lg);
    border-radius: var(--size-lg);
    font-size: var(--font-size-xs);
    background-color: var(--color-filter);
    color: var(--color-neutral-4);

    &.top {
        top: calc(var(--spacing-sm) * -1);
    }

    &.left {
        left: calc(var(--spacing-sm) * -1);
    }

    &.right {
        right: calc(var(--spacing-sm) * -1);
    }

    &.bottom {
        bottom: calc(var(--spacing-sm) * -1);
    }

    &.center {
        left: 50%;
        transform: translateX(-50%);
    }
}
