@use '../../styles/config/mixins' as *;
@use '../../styles/config/variables' as *;

.modalOverlay {
    @include flex(column, center, center);

    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.25);

    .modalWindow {
        background-color: var(--color-neutral-4);
        padding: var(--spacing-xl);
        width: auto;
        min-width: 24rem;
        border-radius: var(--border-radius-outer);

        @media only screen and (max-width: 560px) {
            min-width: 90%;
            max-width: 90%;
        }

        &:focus {
            outline: none;
        }

        display: grid;
        grid-gap: var(--spacing-md);
        grid-template-areas:
            'title closeModal'
            'content content '
            'buttons buttons';

        .title {
            grid-area: title;
            align-self: start;
            font-size: var(--font-size-lg);
        }

        .closeModal {
            @include focus;

            justify-self: end;
            grid-area: closeModal;
            cursor: pointer;
        }

        .content {
            grid-area: content;

            .contentHeading {
                font-weight: var(--font-weight-medium);
            }
        }

        .buttons {
            @include flex();

            gap: var(--spacing-md);
            grid-area: buttons;
        }
    }
}
